h6{
padding: 11px 16px;
display: flex;
justify-content: center;
position:relative ;
border:1px solid rgba(0,0,0,5);
border-radius: 50px;
font-weight: bolder;
cursor: pointer;
margin: 550px;
background-color:gray;
color:aliceblue;
font-size: large;
margin-top:100px;
}
h1{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    color: aliceblue;
}
h2{
    font-size: 35px;
    font-weight: bolde;
    text-align: center;
    margin-top: 10px; 
    cursor: pointer; 
    color: aliceblue; 
}
h3{
    font-size: 35px;
    font-weight: bolde;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: aliceblue;
}
h4{
    font-size: 20px;
    font-weight: bolde;
    text-align: center;
    margin-top: 60px;
    cursor: pointer;
    color: aliceblue;
}
h5{
    font-size: 20px;
    font-weight: bolde;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
    color: aliceblue;
}
.home{
    background-image: url(info.jpg);
}
